<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/src/login-usuario/login-usuario.html" />
<link rel="import" href="/src/visor-cuentas/gestor-cuentas.html" />
<!--<link rel="import" href="/src/visor-cuentas/dm-cuentas.html" />-->
<!--<link rel="import" href="/src/visor-cuentas/visor-cuentas.html" />-->
<!--<link rel="import" href="/src/visor-movimientos/gestor-movimientos.html" />-->
<!--<link rel="import" href="/src/visor-movimientos/dm-movimientos.html" />-->
<!--<link rel="import" href="/src/visor-movimientos/visor-movimientos.html" />-->
<link rel="import" href="/src/proyecto-final-app/proyecto-final-app.html" />

<dom-module id="event-listener">
  <template>
    <login-usuario id="login"></login-usuario>
    <gestor-cuentas id="gestorCuentas"></gestor-cuentas>
    <gestor-movimientos id="gestorMovimientos"></gestor-movimientos>
  </template>

  <script>
    class EventListener extends Polymer.Element {
      static get is() {
        return "event-listener";
      }
      ready() {
        super.ready();

        this.$.login.addEventListener("loginEvent", e => {
          console.log("Logeado: procedamos al gestor de cuentas");
          // hacerlo asincrono para dar tiempo al local storage
          setTimeout(() => {
            this.$.gestorCuentas.cargar(e);
          }, 100)
        });
        this.$.login.addEventListener("logoutEvent", e => {
          console.log("Logout: procedamos al gestor de cuentas");
          // hacerlo asincrono para dar tiempo al local storage
          setTimeout(() => {
            this.$.gestorCuentas.cargar(e);
          }, 100)
        });
        this.$.gestorMovimientos.addEventListener("gestionarMovimientos", e => {
           console.log("Procedamos al gestor de movimiento");
          // hacerlo asincrono para dar tiempo al local storage
          setTimeout(() => {
            this.$.gestorMovimientos.movimientos(e); // a hacer: implementar metodo movimientos que llame al backend en gestor-movimientos.html
          }, 100)
         });

      }
      static get properties() {
        return {};
      }
    }
    window.customElements.define(EventListener.is, EventListener);
  </script>
</dom-module>
