<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">


<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
      /* Bordered form */
      form {
        border: 3px solid #f1f1f1;
      }

      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      /* Set a style for all buttons */
      button {
        background-color: #1A449B;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      /* Set a style for all buttons */
      logoutButton {
        background-color: #1A449B;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        display:inline-block;
      }

      /* Add a hover effect for buttons */
      button:hover {
        opacity: 0.8;
      }

      /* Extra style for the cancel button (red) */
      .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
      }

      /* Center the avatar image inside this container */
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      /* Avatar image */
      img.avatar {
        width: 40%;
        border-radius: 50%;
      }

      /* Add padding to containers */
      .container {
        padding: 16px;
      }

      /* The "Forgot password" text */
      span.psw {
        float: right;
        padding-top: 16px;
      }

      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }
        .cancelbtn {
          width: 100%;
        }
      }
    </style>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
    />
    <div hidden="{{datosUsuario.isLogged}}"  class="imgcontainer">
      <img src="/src/login-usuario/img_avatar.png" alt="Avatar" class="avatar">
    </div>

    <div hidden="{{datosUsuario.isLogged}}" class="container">
      <h4 class="title">Por favor introduzca usuario y contraseña</h4>
      <label slot="input"><b>Email</b></label>
      <input
        class="input-style"
        id="email"
        placeholder="Email"
        type="text"
        value="{{datosUsuario.email::input}}"
      />
      <label slot="input"><b>Password</b></label>
      <input
        placeholder="password"
        type="password"
        value="{{datosUsuario.password::input}}"
      />
      <button class="button" on-click="login">Login</button>
      <span hidden$="{{!datosUsuario.desautorizada}}">Usuaria o contraseña incorrectas</span>
    </div>
    <div hidden="{{!datosUsuario.isLogged}}">
      <button class="logoutButton" on-click="logout">Logout</button>
      <h5>Bienvenida de nuevo {{datosUsuario.nombre}}</h5>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/proyecto/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponseLogin"
      on-error="showError"
    ></iron-ajax>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/proyecto/logout/{{datosUsuario.id}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="manageAJAXResponseLogout"
      on-error="showError"
    ></iron-ajax>
    <iron-localstorage name="my-app-storage"
                       value="{{datosUsuario}}"
                       on-iron-localstorage-load-empty="inicializarUsuarioPorDefecto"
    ></iron-localstorage>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() {
        return "login-usuario";
      }
      static get properties() {
        return {
          datosUsuario: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        console.log("Ready login " + JSON.stringify(this.datosUsuario));
      }

      // inicializa usuario vacío si no existe
      inicializarUsuarioPorDefecto() {
        this.datosUsuario = {
          isLogged: false
        }
      }

      login() {
        console.log("El usuario ha pulsado el botón de login");
        console.log("voy a enviar la petición");

        if (this.datosUsuario.email === undefined) this.datosUsuario.email = "sbilam6@japanpost.jp";
        if (this.datosUsuario.password === undefined) this.datosUsuario.password = "FQncJo86uoh";
        var loginData = {
          email: this.datosUsuario.email,
          password: this.datosUsuario.password
        };

        console.log("saco datos de login : ");
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Peticion enviada");
      }

      logout() {
        console.log("La usuaria ha pulsado el botón de logout");
        console.log("voy a enviar la petición");
        this.$.doLogout.generateRequest();
        console.log("Peticion enviada");
      }

      callbackLogin(data) {
        console.log("Login:" + JSON.stringify(data));
      }

      callbackLogout(data) {
        console.log("Login:" + JSON.stringify(data));
      }

      manageAJAXResponseLogin(data) {
        console.log("Llegan los datos");
        console.log(JSON.stringify(data.detail.response));

        // añade datos usuario en iron localstorage
        this.set("datosUsuario.isLogged", true);
        this.set("datosUsuario.id", data.detail.response.idUsuario);
        this.set("datosUsuario.nombre", data.detail.response.Nombre);
        this.set("datosUsuario.genero", data.detail.response.Genero);
        this.set("datosUsuario.email", this.datosUsuario.email);
        this.set("datosUsuario.password", this.datosUsuario.password);
        console.log("login " + JSON.stringify(this.datosUsuario));

        // no es necesario mandar el evento de login porque localstorage los tiene
        this.dispatchEvent(
          new CustomEvent("loginEvent", {
            detail: {}
          })
        );
      }

      manageAJAXResponseLogout(data) {
        console.log("Llegan los datos");
        console.log(JSON.stringify(data.detail.response));
        this.datosUsuario = {isLogged: false}; // resetea datos usuario en iron localstorage
        this.dispatchEvent(new CustomEvent("logoutEvent", { detail: {} }));
      }

      showError(error) {
        console.log("Hubo un error fatal");
        this.datosUsuario = {desautorizada: true, isLogged: false};
        console.log(error);
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
