<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="dm-movimientos">
  <template> </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimientos extends Polymer.Element {
      static get is() {
        return "dm-movimientos";
      }
      static get properties() {
        return {};
      }

      getMovimientos(id) {
        fetch(
        `https://api.mlab.com/api/1/databases/proyectofinal/collections/movimientos?q={"id":${id}}&apiKey=om734PN4Q6nAxJSFln7VQg8jDOKO_ih9`
      )
          .then(response => response.json())
          .then(json => {
            console.log("enseño movimientos" + JSON.stringify(json))
            // 2. tratamiento de datos: normalizar respuesta (json)
            const movimientos = json.map(movimientos => {
              return {
                cargo: movimientos.cargo,
                abono: movimientos.abono,
              };
            });

            this.dispatchEvent(
              new CustomEvent("gestionarMovimiento", {
                detail: movimientos,
                bubbles: true,
                composed: true
              })
            );
          });
      }
    }
    window.customElements.define(DmMovimientos.is, DmMovimientos);
  </script>
</dom-module>



<!-- <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-movimientos">
<template>

</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimientos extends Polymer.Element {
      static get is() { return 'dm-movimientos'; }
      static get properties() {
        return {
        };
      }

      getMovimientos(){

        fetch('https://api.mlab.com/api/1/databases/proyectofinal/collections/movimientos?q={id:7}&apiKey=om734PN4Q6nAxJSFln7VQg8jDOKO_ih9')
                 .then(response => response.json())
                 .then(json => {
                   // 2. tratamiento de datos: normalizar respuesta (json)
                   const movimientos = json.map((movimientos) => {
                     return {
                       cargo : movimientos.cargo,
                       abono: movimientos.abono
                     };
                   });

        this.dispatchEvent(new CustomEvent('movimientos-cargados', { detail: movimientos, bubbles: true, composed: true }));
      });
      }
}
    window.customElements.define(DmMovimientos.is, DmMovimientos);
  </script>
</dom-module> -->
