!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="dm-movimientos.html" />
<link rel="import" href="visor-movimientos.html" />

<dom-module id="gestor-movimientos">
  <template>
    <div id="loggedDiv" hidden="{{!isLogged}}">
      <dm-movimientos
        id="movimientosDM"
        on-movimientos-cargados="processEvent"
      ></dm-movimientos>
      <h1>Dentro de gestor movimientos</h1>
      <visor-movimientos id="listadoMovimientos"></visor-movimientos>
    </div>
  </template>

  <script>
    class GestorMovimientos extends Polymer.Element {
      static get is() {
        return "gestor-movimientos";
      }


      reload() {
        if (this.isLogged && this.id !== undefined) {
          this.$.loggedDiv.hidden = !this.isLogged;
          console.log("Logeados. Procedamos a ver nuestras cuentas.");
          console.log(this.$);
          this.$.cuentasDM.getCuentas(this.id);
        }
      }

      borrar(evento) {
        console.log(`borrar datos de usuaria ${JSON.stringify(evento.detail)}`);
        console.log();
        this.email = undefined;
        this.password = undefined;
        this.isLogged = false;
        this.id = undefined;
        this.first_name = undefined;
        this.last_name = undefined;
        this.$.listadoCuentas.borrar();
      }

      cargar(evento) {
        console.log(
          `cargando datos de movimientos ${JSON.stringify(evento.detail)}`
        );
        console.log();
        var datosUsuaria = evento.detail;
        this.email = datosUsuaria.email;
        this.password = datosUsuaria.password;
        this.isLogged = datosUsuaria.isLogged;
        this.id = datosUsuaria.id;
        this.first_name = datosUsuaria.first_name;
        this.last_name = datosUsuaria.last_name;
        this.reload();
      }

      processEvent(evento) {
        console.log(`gestor-cuentas evento ${JSON.stringify(evento.detail)}`);
        this.$.listadoCuentas.mostrarCuentas(evento.detail);
      }
    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
