<!-- Construir html para visualizar en una tabla las cuentas -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"> -->

<dom-module id="visor-movimientos">
 <template>
    <style>
      :host {
        display: block;
  }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<h1>A continuación le mostramos sus movimientos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">cargo</th>
      <th scope="col">abono</th>
    </tr>
  </thead>
  <tbody>
    <template is="dom-repeat" items="{{movimientos}}">
      <tr>
        <td><h4>{{item.id}}</h4></td>
        <td><h4>{{item.cargo}}</h4></td>
        <td><h4>{{item.abono}}</h4></td>
      </tr>
    </template>
  </tbody>
</table>
    </template>

  </template>
  <script>
      class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            value : []

          }
        }
      }
    showData(data) {
      console.log(data.detail.response);
      this.movimientos= data.detail.response;
    // estos de abajo son los que vienen de MLAB
    //this.balance = data.detail.response[0].balance;
    }
}
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
