!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="dm-cuentas.html" />
<link rel="import" href="visor-cuentas.html" />

<dom-module id="gestor-cuentas">
  <template>
    <div id="loggedDiv" hidden="{{!datosUsuario.isLogged}}">
      <dm-cuentas
        id="cuentasDM"
        on-cuentas-cargadas="processEvent"
      ></dm-cuentas>
      <h1>Dentro de gestor cuentas</h1>
      <visor-cuentas id="listadoCuentas"></visor-cuentas>
    </div>
    <iron-localstorage id="localStorage" name="my-app-storage"
                       value="{{datosUsuario}}"
    ></iron-localstorage>
  </template>

  <script>
    class GestorCuentas extends Polymer.Element {
      static get is() {
        return "gestor-cuentas";
      }
      static get properties() {
        return {
          datosUsuario: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        console.log("Ready gestor cuentas " + JSON.stringify(this.datosUsuario));
      }

      cargar(evento) {
        this.$.localStorage.reload();
        console.log(
          `cargando datos de usuaria ${JSON.stringify(this.datosUsuario)}`
        );
        if (this.datosUsuario.isLogged && this.datosUsuario.id !== undefined) {
          console.log("Logeados. Procedamos a ver nuestras cuentas.");
          console.log(this.$);
          this.$.cuentasDM.getCuentas(this.datosUsuario.id);
        }
      }

      processEvent(evento) {
        console.log(`gestor-cuentas evento ${JSON.stringify(evento.detail)}`);
        this.$.listadoCuentas.mostrarCuentas(evento.detail);
      }
    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
