<!-- Construir html para visualizar en una tabla las cuentas -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<!-- <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"> -->
<link rel="import"
      href="../../bower_components/iron-localstorage/iron-localstorage.html">


<dom-module id="visor-cuentas">
  <template id="lista">
    <style>
      :host {
        display: block;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <h1>A continuación le mostramos sus cuentas</h1>

    <br/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">Saldo</th>
        </tr>
      </thead>
      <tbody>
      <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td><h4>{{item.iban}}</h4></td>
            <td><h4>{{item.balance}}</h4></td>
            <td><button class="btn btn-primary btn-lg" id="{{item.id}}" on-click="consultarmov">Consulta Movimientos</button></td>
          </tr>
        </template>
      </tbody>
    </table>
    <iron-localstorage id="localStorage" name="my-app-storage"
                       value="{{datosUsuario}}"
    ></iron-localstorage>
  </template>
  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() {
        return "visor-cuentas";
      }
      static get properties() {
        return {
          datosUsuario: Object,
          cuentas: {
            type: Array,
            value: []
          }
        };
      }
      mostrarCuentas(cuentas) {
        console.log(`cuentas en visor de cuentas ${JSON.stringify(cuentas)}`);
        this.cuentas = cuentas;
        // estos de abajo son los que vienen de MLAB
        //this.balance = data.detail.response[0].balance;
      }
      borrar(cuentas) {
        console.log("borrar cuentas en visor de cuentas");
        this.cuentas = {};
        // estos de abajo son los que vienen de MLAB
        //this.balance = data.detail.response[0].balance;
      }
      consultarmov(e) {
        var args = e.target.id;
        console.log(`consultar en visor de cuentas ${JSON.stringify(args)}`);
          //  this.cuentas = cuentas;
        // estos de abajo son los que vienen de MLAB
        //this.balance = data.detail.response[0].balance;
      }
    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
